# KiCad temporary files
*.bak
*.bck
*-bak
*-backup
*.tmp
*.lck
*.kicad_lck
*.kicad_prl

# KiCad cache
fp-info-cache/

# Autosaves (KiCad)
*-save.kicad_sch
*-save.kicad_pcb
*.kicad_sch-bak
*.kicad_pcb-bak
